force-app/main/default/flows/Create_Pastor_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Screen Flow to create Event records easily with all relevant fields.</description>
    <interviewLabel>Create Pastor Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pastor Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event_Record</name>
        <label>Create Event Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>Duration_in_Minutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>Event_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start_Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Contact_Person.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Event_Creation_Screen</name>
        <label>Event Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Event_Record</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject / Event Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Type</name>
            <choiceReferences>Worship_Choice</choiceReferences>
            <choiceReferences>Prayer_Choice</choiceReferences>
            <choiceReferences>Meeting_Choice</choiceReferences>
            <choiceReferences>Outreach_Choice</choiceReferences>
            <choiceReferences>Funeral_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Start Date &amp; Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duration_in_Minutes</name>
            <dataType>Number</dataType>
            <fieldText>Duration in Minutes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location / Venue</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_Person</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>WhoId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Event</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Pastor Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <choices>
        <name>Worship_Choice</name>
        <choiceText>Worship</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>worship</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prayer_Choice</name>
        <choiceText>Prayer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>prayer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Meeting_Choice</name>
        <choiceText>Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Outreach_Choice</name>
        <choiceText>Outreach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>outreach</stringValue>
        </value>
    </choices>
    <choices>
        <name>Funeral_Choice</name>
        <choiceText>Funeral</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>funeral</stringValue>
        </value>
    </choices>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Creation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
